* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Graphik", sans-serif; */

  text-decoration: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.body{
  background: #fff;
  width: 90%;
  margin:  auto;
  /* border: 3px solid peru; */
}

.openbtn{
  display: none;
}



/* .connected-div-1{
  display: block;
} */


 .header{
  /* border: 4px solid red; */
  width: 100%;
  margin: auto;
  align-items: center;
}
.header-first-div{
  /* border: 4px solid blue; */
  margin-top: 10px;;
  /* padding-top: 15px; */
  /* padding-bottom: 25px; */
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.header-first-div-2{
  display: none;
  /* border: 4px solid blue; */
}


.hamburger{
  display: none;
  /* visibility: hidden; */
}

.img-link-div{
  /* border: 3px dotted red; */
  display: flex;
  width: 55%;
  justify-content:space-evenly;
}


.img-link-divv{
  display: none;
}


.cart-avatar-div{
  /* border: 5px dotted palevioletred; */
  display: flex;
  justify-content: end;
  padding-right: 40px;
  width: 45%;
  align-content: center;
  align-items: center;
}

.avatar-img{
  width: 35px;

}

.cart-imgg{
  padding-right: 25px;
}
.ccc{
  /* border: 5px solid yellow; */
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}

.count{
  /* border: 5px solid red; */
  display: none;
  position: absolute;
  left: 10px;
  top: -15px;
  font-size: 12px;
  background:  hsl(26, 100%, 55%);
  padding: 3px;
  border-radius: 5px;
  /* display: flex; */
  /* flex-direction: row; */
}



.marg-right{
  padding-left: 20px;
  /* border: 4px solid red; */
  color: hsl(220, 13%, 13%);
}

.hrr{
  border-style: solid;
  border-width: 0px 0px thin;
  border-color: rgba(0,0,0,0.15);

}




.main{
  /* border: 3px solid black; */
  /* z-index: 0; */
  /* background: red; */
  width: 87%;
  position: absolute;
  margin: auto;
  padding-top: 30px;
}




.main-sub-div{

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 10px;
  align-items: center;
}

.first-main-div{
  /* border: 4px solid red; */
/* border: 4px solid blue; */
/* padding-top: 30px; */
width: 40%;
}

.second-main-div{
  /* border: 4px solid palevioletred; */
  padding-left: 60px;
  width: 60%;
}

.big-shoe{
  width: 95%;
  /* margin: auto; */
  border-radius: 15px;
}

.small-shoes{
  width: 70%;
  border-radius: 7px;
  /* margin-right: 6px; */
  /* border: 5px solid red; */
/* margin-right: 5px; */
} 

.next-prev-div{
  display: none;
  /* visibility: hidden; */
}

/* .small-shoes-div{
  border: 4px solid red;
  padding-top: 12px;
  display: flex;
} */





.h55{
  padding-bottom: 20px;
  font-size: 16px;
  color: hsl(26, 100%, 55%);
}

.productname{
  width: 80%;
  font-weight: 700;
  padding-bottom: 20px;
}

.p-p{
  /* padding-left: ; */
  font-size: 16px; 
  line-height: 23px;
  padding-bottom: 15px;
}

.pprice-div{
  display: flex;
  
}

.price{
/* border: 5px solid red; */
padding-right: 18px;
font-weight: 700;
}

.strike-dollar{
  font-weight: 400;
  font-size: 15px;
  padding-top: 7px;
  text-decoration:line-through;
}

.percentage{
background: hsl(25, 100%, 94%);
border-radius: 5px;
color: hsl(26, 100%, 55%);
border: none;
text-align: center;
align-content: center;
align-items: center;
/* padding: 15px; */
font-size: 15px;
font-weight: 700;
padding-left: 7px;
padding-right: 7px;
padding-top: 3px;

}

.plus-minus-div{
  display: flex;
  justify-content: space-between;
  background: wheat;
  /* align-content: center; */
  align-items: center;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  /* padding: 20px; */
}

/* .minus{
width: 20px;
height: 10px;
}

.plus{
  width: 20px;
  height: 12px;
  } */
  

.last-btn-div{
  /* border: 3px solid red; */
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.add-to-cart-btn{
border: none;
  display: flex;
  background: hsl(26, 100%, 55%);
  border-radius: 8px;
  width: 57%;
  padding: 10px 30px;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  box-shadow: 0 11px 22px rgb(231 51 43 / 28%)
}

.last-cart{
  margin-right: 15px;
  width: 17px;
  color: hsl(0, 0%, 100%);
}











/* modal starts here */



.modal{
  position: absolute;
  z-index: 10; 
  /* padding-top: 90px;  */
  left: 55%;
  top: 50%;
  width: 45%; 
    transform: translate(-50%, -50%);

}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 5;
}


.hidden{
  display: none;
}

.close-modal{
    position: absolute;
  top: -15px;
  right: 40px;
  /* font-size: 5rem; */
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}



.prev-btn{
  border-radius: 20px;
  position: absolute;
  top: 199px;
  transform: translate(-50%, -50%);
  padding: 10px;
  cursor: pointer;
  border: none;
}

.next-btn{
  position: absolute;
  border-radius: 20px;
  border: none;
  left: 370px;
  top: 180px;
  padding: 10px;
   cursor: pointer;
}




.b-shoe{
  /* width: 55%; */
  border-radius: 7px;
}

.s-shoe-div{
  display: flex;
  margin: auto;
  padding-left: 40px;
}

.s-shoe{
  /* border: 5px solid saddlebrown; */
  width: 10%;
  /* margin-right: 5px; */
  border-radius: 5px;
}


 .modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(5)}
} 

 @keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}  

.close {
  position: absolute;
  top: 40px;
  right: 395px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.prev-nxt-div{
/* border: 5px solid gold; */
width: 30%;
display: flex;
justify-content: space-between;
position: absolute;
top: 45%;
margin-right: 10px;
/* padding-right: 30px; */
}




.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.demo {
  opacity: 0.6;
  /* border: 5px solid red; */
}

.cursor{
  cursor: pointer;
}

.mySlides{
  /* display: none; */
  /* border: 7px solid green; */
}

.mySlidess{
  /* display: none; */
}


.big-shoee{
  width: 90%;
  /* margin: auto; */
  border-radius: 15px;
}

.small-shoess{
  /* border: 4px solid black; */
  width: 65%;
  border-radius: 7px;
  /* margin-left: 20px; */
}



/* 
 .row > .column {
  padding: 0 8px;
}   */

/* .row:after {
  content: "";
  display: table;
  clear:both;
}    */

.column {
  float:left;
  width: 25%;

} 



.hiddenn{
  
  display: none;
}
.cart-imgg{
    /* padding-right: 9px; */
    cursor: pointer;
  }



.cart-board{
  /* border: 4px solid red; */
  background-color: white;
  border-radius: 6px;
  justify-content: right;
  z-index: 1;
  position: absolute;
  width: 28%;
  height: 31%;
  right: 10%;
  box-shadow: 0 11px 22px rgb(231 51 43 / 28%);
  margin-top: -20px;
}


.cartboardinner{
  /* border: 1px solid blue; */
  width: 100%;
  padding: 10px;
}

.cart-imggg{
  width: 60px;
  border-radius: 5px;
}

.img-txt-div{
 display: flex;
justify-content: space-between;
margin-top: 4px; 
/* border: 4px solid red; */
}

.h4-padding{
padding-top: 7px;
padding-bottom: 7px;

}

.cart-btn{
  margin-top: 15px;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius:  5px;
  background: hsl(26, 100%, 55%);
  color: #fff;
}

.delete-btn{
  /* width: 5%; */
  /* height: 10%; */
  cursor: pointer;
  /* border: 5px solid blue; */
}

.delete-btn-div{
  border: none;
  background: none;
}


.cart-board-empty{
  /* border: 4px solid red; */
  background-color: white;
  border-radius: 6px;
  justify-content: right;
  z-index: 1;
  position: absolute;
  width: 28%;
  height: 31%;
  right: 10%;
  box-shadow: 0 11px 22px rgb(231 51 43 / 28%);
  margin-top: -20px;
}


.hiddenn-empty{
  display: none;
}

.empty-p-div{
  /* border: 4px solid yellow; */
  margin-top:  30px;
}

 .empty-p{
  /* border: 4px solid red; */
  text-align: center;
  margin: 0, auto;
  padding: auto;
} 

.mobile{
display: none;
}

































































@media (max-width: 420px) {

  .body{
    background: #fff;
    width: 100%;
    /* border: 3px solid peru; */
  }

  .header{
    /* border: 4px solid red; */
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 0px;
  }

  .header-first-div{
    /* border: 4px solid blue; */

    width: 90%;
    margin: auto;
    display: flex;
    padding: 10px 5px;
    align-items: center;
    justify-content: space-between;
 
  }

  .header-first-div-2{
    /* border: 4px solid blue; */
    /* width: 90%; */
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .hamburger{
    display: block;
    /* border: 4px solid red; */
    /* visibility: visible; */
    margin-right: 10px;

  }

  .top-link{
    display: none;
  }

  /* .img-linkk-div{
    border: 4px solid red;
    left: 200%;

  } */
 
   .marg-rightt{
    /* border: 4px solid yellowgreen; */
    line-height: 30px;
    
  } 

  .top-linkk{
    /* border: 5px solid blue; */
    padding-top: 70px;
  }

  .img-link-div{
    /* border: 3px dotted darkgoldenrod; */
    display: flex;
    /* border: 5px solid blue; */
    width: 60%;
  }

  .marg-right{
    display: none;
  }

  .cart-avatar-div{
    /* border: 5px dotted palevioletred; */
    display: flex;
    justify-content: end;
    width: 30%;
    align-content: center;
    align-items: center;
  }
  
  .avatar-img{
    width: 30px;
  
  }
  
  .cart-imgg{
    padding-right: 9px;
    cursor: pointer;
  }

  .hr{
    display: none;
  }


  .main{
    /* border: 3px solid black; */
    /* background: red; */
    width: 100%;
    margin:  auto;
    padding: 0px;
  } 
  
  .main-sub-div{
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* justify-content:space-between; */
    /* padding: 10px; */
    /* align-items: center; */
  }

  .first-main-div{
    display: block;
    width: 100%;
  }

  .kkk{
    display: none;
  }

  .mobile{
    display: block;
    border: 4px solid grey;
  }

.slideshow-container{
border: 4px solid red;
position: relative;
margin: auto;
width: 100%;
}

.mySlid{
  display: none;
  border: 6px dotted yellow;
}


.pre, .nex{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  background: white;
  padding: 20px;
  border-radius: 50px;
} 

.nex{
  right: 0;
}



  #big-shoe{
    width: 100%;
    margin: auto;
    border-radius: 0px;
    /* border-radius: 65px; */
  }

  .next-prev-div{
    /* border: 4px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:  auto;
    position: absolute;
    padding: 5px 9px;
    top: 40%; 
  }


  
  .small-shoes-div{
    display: none;
  }

  .second-main-div{
    /* border: 4px solid palevioletred; */

    width: 90%;
    margin: auto;
    padding: 0px;
   
  }
  
.h55{
  padding-bottom: 20px;
  font-size: 16px;
  color: hsl(26, 100%, 55%);
  padding-top: 15px;
}

.h11{
  width: 95%;
  font-weight: 700;
  padding-bottom: 20px;
}

.p-p{
  /* padding-left: ; */
  font-size: 16px; 
  line-height: 26px;
  padding-bottom: 15px;
}

.price-big-div{
  display: flex;
  justify-content: space-between;
}


.last-btn-div{
  /* border: 3px solid red; */
  /* padding-top: 40px; */
  padding: 0px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 50px;
  /* justify-content: space-between; */
}

.plus-minus-div{
  display: flex;
  justify-content: space-between;
  background: wheat;
  /* align-content: center; */
  align-items: center;
  width: 100%;
  padding: 15px 10px;
  border-radius: 8px;
 
}

.add-to-cart-btn{
  border: none;
    display: flex;
    background: hsl(26, 100%, 55%);
    border-radius: 9px;
    width: 100%;
    padding: 15px 30px;
    margin-top: 17px;
  }


/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  /* left: 0; */
  background-color: #fff; 
  overflow-x: hidden; 
  padding-top: 0px; 
  transition: 0.5s;
}


/* The sidepanel links */
.sidepanel a {
   padding: 8px 1px 8px 15px; 
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
  overflow: hidden;
  transition: 0.9s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}



/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  /* font-size: 20px; */
  display: block;
  cursor: pointer;
  background:none;
  color: white;
  /* padding: 10px 15px; */
  border: none;
  /* border: 4px solid green; */
}

.openbtn:hover {
  /* background-color: #444; */
}

.closebtn{
  left: -19%;
  top: 0;
  position: fixed;
}
















}


























# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(26, 100%, 55%)
- Pale orange: hsl(25, 100%, 94%)

### Neutral

- Very dark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)
- Weights: 400, 700
